{% extends 'base.html.twig' %}
    
{% block body %}
    <h1>Bienvenue sur la page des voyages</h1>
    <p>Ceci est ma deuxième page avec un layout Twig.</p>
     <a href='{{ path('accueil') }}'> Page d'accueil </a>
{% endblock %}{# empty Twig template #}
